body{
    background-color: rgb(230, 227, 227);
    margin: 0;
}
header{
    padding: 10px;
    background-color: white;
}
header h1{

    margin: 0;

}
.post{
    margin-top: 10px;

    background-color: white;
}
.post img{
    width: 100%;
}
.post-header{
    

    display: flex;
}
.ver{
    align-items: center;
    background-color:white;
    display: flex;
    width: 80%;
}
.hor{
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: right;
    width: 20%;
    padding: 5px;
    color: gray;
    
}
.post h2, .post p{
    padding: 10px;
}
.container{
    width: 600px;
    margin: auto;
}
